@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
  border-radius: 100%;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #dadada;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-sans);
}